.label{
     color:white;
     margin-left: 10px;
     font-size: 21px;
    font-weight: 600;
}
.form-control2{
     margin-left: 10px;
     padding: 9px 15px;
}
.for-center5{
     display: flex;
     justify-content: center;
     /* background-color: #e84393; */
     /* background-image: linear-gradient(315deg, #e84393 0%, #161616 74%); */
     padding-top: 101px;
     padding-bottom: 85px;
     /* background-color: #e84393;
     background-image: linear-gradient(315deg, #e84393 0%, #000000 74%); */
   }
   .for-center5 h3 {
     font-size: 40px;
     font-weight: 600;
   }
   .for-center5{
    display: flex;
    justify-content: center;
    /* background-color: #e84393; */
    /* background-image: linear-gradient(315deg, #e84393 0%, #161616 74%); */
    padding-top: 97px;
    padding-bottom: 157px
    
  }

   .background-color{
     background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
   }
