.bbb {
    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
    padding-bottom: 14px;
}

.sequencing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #cecece;
    padding-bottom: 12px;
}

.order-items h3 {
    font-size: 33px;
    font-weight: 500;
    margin-top: 30px;
    color: white;
}

.item-price {
    font-weight: 700;
    font-size: 17px;
    color: white;
}

.image-image img {
    width: 100px;
    height: 120px;
    padding: 12px;
    object-fit: contain;
}

.product-name a {
    font-weight: 700;
    font-size: 17px;
    color: white;
}

.shiping {
    font-size: 33px;
    font-weight: 500;
    color: white;
}

.bordering {
    border-bottom: 1px solid #cecece;
    padding-bottom: 17px;
    margin-top: "19px";
    color: white;
}

.top-summary {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    color: white;
}

.order {
    /* border: 1px solid rgb(65, 196, 255); */
    height: fit-content;
    color: white;
}

.order h3 {
    font-size: 26px;
    border-bottom: 1px solid rgb(65, 196, 255);
    padding: 15px 33px;
    color: white;
    border: 1px solid rgb(65, 196, 255);
}

.order2 {
    font-size: 28px;
    border-bottom: 1px solid rgb(65, 196, 255);
    padding: 15px 29px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-left: 1px solid rgb(65, 196, 255);
        border-right: 1px solid rgb(65, 196, 255);
}

.order2 h1 {
    font-size: 19px;
    color: white;
}

.order2 h2 {
    font-size: 19px;
    color: white;
}

.checkout21,
.checkout23 {
    /* border: none; */
    /* background: #ff6e87; */
    background: none;
    padding: 11px 34px;
    font-size: 23px;
    font-weight: 600;
    width: -webkit-fill-available;
    cursor: pointer;
    color: white;
    border: 2px solid rgb(65, 196, 255);
    }
    
    .checkout21:hover {
        background: #03a9f4;
        transition: all 0.2s ease-in-out;
    }
    
    .checkout23:hover {
        background: #03a9f4;
        transition: all 0.2s ease-in-out;
    }
    
    .checkout2:hover {
        background: #ef3675;
        transition: all 0.2s ease-in-out;
}