* {
  margin: 0;
  padding: 0;
}
.for-center2 {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.form-class {
  /* border: 2px solid black; */
  padding: 35px 25px;
  /* background: #81f1ffa1; */
  border: 3px solid white;
  color: white;
  border-radius: 24px;
  box-shadow: rgb(60 76 63 / 10%) 3px 2px 21px 11px, rgb(60 64 76 / 20%) 0px 2px 14px 5px;
}
.form-group {
  margin: 20px 0px;
}
.for-center h3 {
  font-size: 40px;
  font-weight: 600;
}
input[type="address"],
input[type="country"],
input[type="city"],
input[type="postalcode"] {
  padding: 8px 130px 10px 12px;
  font-size: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid rgb(65, 196, 255);
  width: 410px;
  padding: 10px 19px;
  outline: none;
}
.name {
  padding: 8px 130px 10px 12px;
  font-size: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #03a9f452;
  width: 410px;
  padding: 10px 19px;
  outline: none;
}
form button {
  border: none;
  background: #25bbff;
  color: white;
  padding: 10px 27px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 10px;
}
form button:hover{
  background: #0081bb;
  transition: all 0.3s ease-in-out;
}
form p {
  margin-top: 12px;
  margin-left: 10px;
}
form p a {
  color: white;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
label,
form p {
  color: #858181;
}
.icon-2 {
  padding: 15px 0px 10px 6px;
  border-bottom: 2px solid #03a9f452;
}
.for-center {
  display: flex;
  justify-content: center;
  /* background-color: #e84393; */
  /* background-image: linear-gradient(315deg, #e84393 0%, #161616 74%); */
  padding-top: 101px;
  padding-bottom: 85px;
  background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
}
input::-webkit-input-placeholder {
  font-size: 17px;
  /* line-height: 3; */
  color: white;
}
textarea:focus,
input:focus {
  color: white;
  font-size: 17px;
}
input,
select,
textarea {
  /* color: white; */
  font-size: 17px;
}
